!.gitignore

__pycache__

/build
/dist

/node_modules

/images
/sources

/pyvenv

# makefile target timestamp files
/all
/html
/cssdist
/css
/css-compile
/css-prefix
/js
/jsdist
/install
/install-npm
/install-py
/python-venv
/bootstrapjs
/jqueryjs
/static
/link-sources
/build-sources
/compile-rst
/dist-sources
/build-pages
/dist-pages
/lightbox

# use abbr name to avoid collision with images dir
/imgs
