{% extends "base.html" %}
{% block content %}
<div class="row mx-auto no-gutters mt-5">
  <div class="col d-none d-md-block"></div>
  <div class="col-md-8">

    <div class="" id="homeAccordion">
      <div class="card border rounded">
        <div class="card-header bg-light text-center" id="bioHeading">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#biography" aria-expanded="true" aria-controls="biography">
              Biography
            </button>
          </h2>
        </div>

        <div id="biography" class="collapse bg-secondary" aria-labelledby="bioHeading" data-parent="#homeAccordion">
          <div id="bio_content" class="card-body mx-auto"></div>
        </div>
      </div>

      <div class="card bg-secondary border rounded">
        <div class="card-header bg-light text-center" id="twitterHeading">
          <h2 class="mb-0">
            <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#twitterTimeline" aria-expanded="true" aria-controls="twitterTimeline">
              Tweets
            </button>
          </h2>
        </div>

        <div id="twitterTimeline" class="collapse bg-secondary mx-auto justify-content-center" aria-labelledby="twitterHeading" data-parent="#homeAccordion">
          <a class="twitter-timeline" data-width="300" data-theme="dark" href="https://twitter.com/fretboardfreak?ref_src=twsrc%5Etfw">Tweets by fretboardfreak</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

    </div>

  </div>
  <div class="col d-none d-md-block"></div>
</div>
{% endblock %}
