{% extends "base.html" %}
{% block content %}
<div class="row mx-auto no-gutters mt-5">
  <div class="col d-none d-md-block"></div>
  <div class="col-md-8">

    <div class="mt-0 pt-0" id="filters_accordion">
      <div class="card bg-dark">
        <div class="card-header text-right pt-0 pb-0" id="filters_head">
          <h2 class="mb-0">
            <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#filters_cont" aria-expanded="true" aria-controls="filters_cont">
              Show filters
            </button>
          </h2>
        </div>

        <div id="filters_cont" class="collapse bg-secondary" aria-labelledby="filters_head" data-parent="#filters_accordion">
          <div id="filters" class="card-body mx-auto">
            <div class="form-row justify-content-end">
              <div class="col">
                <label for="items_per_page">Items:</label>
                <input id="items_per_page" type="number" min=5 step=5 max=50 class='bg-light' style='max-width: 3rem;'/>
              </div>
              <div class="col">
                <label for="page_chooser">Page:</label>
                <input id="page_chooser" type='number' min=0 class='bg-light' style='max-width: 3rem;'/>&nbsp;/&nbsp;<span id="page_count"></span>
              </div>
            </div>
            <div class="row justify-content-end">
              <button id="apply-filter" class="btn btn-link text-light">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-light border rounded">

      <div class="row justify-content-center">
        <ul class="pagination mb-0 mt-1" id="ppgr-nav-top">
          <li class="page-item">
            <a class="page-link bg-secondary" href="#" aria-label="Previous" id="ppgr-prev">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><span class="bg-light mx-5"></span></li>
          <li class="page-item" id="ppgr-next">
            <a class="page-link bg-secondary" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>

      <div id="ppgr-posts"></div>

      <div class="row justify-content-center">
        <ul class="pagination mb-1 mt-0" id="ppgr-nav-bot">
          <li class="page-item">
            <a class="page-link bg-secondary" href="#" aria-label="Previous" id="ppgr-prev-2">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><span class="bg-light mx-5"></span></li>
          <li class="page-item">
            <a class="page-link bg-secondary" href="#" aria-label="Next" id="ppgr-next-2">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col d-none d-md-block"></div>
</div>
{% endblock %}
