/*
 * Main Stylesheet
 *
 * Note:
 * Your customizations should go here above the '@import "bootstrap":' line.
*/

$primary: #212121;
$secondary: #777777;
$success: #7E5AA5;
$info: #a26fdd;
$warning: #9654B2;
$danger: #F98673;
$light: #A1A1A1;
$dark: #212121;

$body-bg: $dark;
$body-color: $light;


@import "bootstrap";
