/*
 * Main Stylesheet
 *
 * Note:
 * Your customizations should go here above the '@import "bootstrap":' line.
*/

$primary: #FF6C00;
$secondary: #f69552;
$success: #F2B76A;
$info: #949431;
$warning: #d9e31f;
$danger: #c9c3b2;
$light: #a1a1a1;
$dark: #212121;

$body-bg: $dark;
$body-color: $light;


body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

#footer {
  position: absolute;
  bottom: 0;
}


@import "bootstrap";
